
/**
 * 简单的 CSS 覆盖
 * 如果你只是希望应用一些简单的 overrides 到默认主题的样式上，
 * 你可以创建一个 .vuepress/override.styl 文件，
 * 这是一个 Stylus 文件，但是你仍然可以使用普通的 CSS 语法。 
 *
 *
*/
/* 这里有一些你可以调整的颜色变量： */
// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34